@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "salt";
}
