@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "salt";
}
@font-face {
    font-family: 'Satoshi-Gecko';
    src: url('./Satoshi-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "salt";
}
